@media only screen and (min-device-width: 320px) {
    /*and (max-device-width:667px)*/
    /*and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio:2)*/ /*{*/
    body {
    }

    .container {
        border: 10px solid #524d4d;
    }

    .order {
        width:100%;
        display: inline-flex;
    }
    .order #title {
        width: 70%;
    }

    #title {
        
        background-color: black;
        text-align: center;
        padding: 5%;

    }

        #title span {
            color: white;
            font-family: fantasy;
            padding: 5%;
            font-size: 200%;
        }

    #imageBackground {
        width:100%;
        height:270px;
        /*min-width:10%;
        height:30%;*/
        
        background-image: url('../../images/TheWebFR.jpg');
        background-repeat:no-repeat;
        background-size: contain;
        background-size: cover;
    }

    .div ul {
        display: block;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .div li {
        background-color: black;
        
        font-family: fantasy;
        text-align: center;
        padding: 1%;
    }
    .div a {
        color: white;
        font-weight: 500;
    }

    .div a:link {
        text-decoration: none;
    }

    .div li:hover {
        border: 1px solid gray;
        -webkit-animation: shadow1 5s;
        animation: shadow1 5s;
        background-color: #3d013e;
    }

    .div li:focus {
        border: 1px solid gray;
        -webkit-animation: shadow1 5s;
        animation: shadow1 5s;
        background-color: #3d013e;
    }
    @keyframes shadow1{
    50%{box-shadow :5px 5px 5px 5px #a204de}
}
}
}
/*@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 667px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio:2){

}

@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio:2){

}
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio:2){

}

@media  screen 
    and (min-device-width: 1280px) 
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio:1){

}
@media  screen 
    and (min-device-width: 1280px) 
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio:2)
    and (min-resolution: 192dpi){

}*/

