@import url("../styles/navigation.css");
@import url("../styles/footer.css");
.container {
    
}
aside {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    padding:3%;
    box-sizing: border-box;
    color: white;
    background-color: #ea1bdc;
    border-radius: 1%;
    z-index:10;
    /*#moving {
    border-radius: 30%/20%;
    border: 1px solid black;
    background-color: rgba(150,150,150,.8);
    width: 220px;
    position: fixed; /*relative och absolut*/
    /*right: 10px;*/ /*right*/
    /*bottom: 10px;*/ /*bottom*/
    /*box-shadow: 10px 10px 5px #888888;*/
}
.col  { 
    padding: 7.35%;
    
}

aside .form-group,.submitbtn {
    width: 60% !important;
    margin-left: 10% !important;
}



/*.picture-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    margin-top: 0%;
}*/
.mycontainer {
    position: relative;

}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    position: absolute;     
    overflow: auto;
    z-index: 5;
    opacity: 0.7;
    transition: all 2s ease-in;
    color:white;

}

.overlay:hover {
    opacity: 0;
}

.marge {
    margin-top: 3%;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    /*border: 5px solid black;*/
    margin: 0 auto 0 auto;
    padding: 0;
    z-index:1;
}
/*.image {
    box-sizing: border-box;
    position: absolute;
    width:100%;
    height:100%;
   
    
}





.thumbnail {
    background-color: #585656;
    border-radius: 0 !important;
    
}

.thumbnail h2 {
    font: 16px 'Berkshire Swash', Helvetica, sans-serif;
}

.thumbnail .box {
    
    
    position: absolute;
    background-color: black;
    opacity: 0.5;

}


