* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}



@media  (min-width: 320px) {

    #space1 {
        display: none;  /*from main index*/
    }
    #space2 {
        display: none; /*from main index*/
    }
    #largemenu {
        display: none;
    }
    #shortmenu {
        display: block;
    }

    .col-xm-1 { width: 8.33%; }
    .col-xm-2 { width: 16.66%; }
    .col-xm-3 { width: 25%; }
    .col-xm-4 { width: 33.33%; }
    .col-xm-5 { width: 41.66%; }
    .col-xm-6 { width: 50%; }
    .col-xm-7 { width: 58.33%; }
    .col-xm-8 { width: 66.66%; }
    .col-xm-9 { width: 75%; }
    .col-xm-10 {width: 83.33%;}
    .col-xm-11 {width: 91.66%;}
    .col-xm-12 {width: 100%; }
}

@media  (min-width: 600px) {

     #space1 {
        display: none;  /*from main index*/
    }
    #space2 {
        display: none; /*from main index*/
    }
    #largemenu {
        display: none;
    }
    #shortmenu {
        display: block;
    }

    .col-sm-1 { width: 8.33%; }
    .col-sm-2 { width: 16.66%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.33%; }
    .col-sm-5 { width: 41.66%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.33%; }
    .col-sm-8 { width: 66.66%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%; }
}

/*only screen and*/
@media  (min-width: 768px) {

     #space1 {
        display: block;  /*from main index*/
    }
    #space2 {
        display: block; /*from main index*/
    }

     #largemenu {
        display: block;
    }
    #shortmenu {
        display: none;
    }

    .col-md-1 { width: 8.33%;}
    .col-md-2 { width: 16.66%;}
    .col-md-3 { width: 25%;}
    .col-md-4 { width: 33.33%;}
    .col-md-5 { width: 41.66%;}
    .col-md-6 { width: 50%;}
    .col-md-7 { width: 58.33%;}
    .col-md-8 { width: 66.66%;}
    .col-md-9 { width: 75%;}
    .col-md-10 { width: 83.33%;}
    .col-md-11 { width: 91.66%;}
    .col-md-12 { width: 100%;}

    
}
































/*body {
    background-color: white;
}
#wrapper {
    max-width:100%;
    max-height: 100%;
    min-width: 65%;
    min-height: 65%;
    background-color:aliceblue;
    margin: 0px;
}
#header  {
    background-color: black; 
    text-align:center;
    padding: 0.0%;
    
}

nav {
    color: white;
    margin-left: auto;
    /*margin-right:40px;*/
/*}
nav span{
    float:left;
    clear:left;
    margin: 1% 0% auto 1%;
    font-size: 2em;
    font-family: fantasy;
}

li {
    background-color: #42a8f1;
    list-style-type: none;
    display: inline-flex;   
    border-bottom: 3px solid white;
    border-top: 3px solid white; 
    border: 1px solid white;    
    padding: 20px;
    margin-right: -2.5px;
    margin-left: -2.5px;
    
    

}
#first {
    border-left: 3px groove white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left:0px;
}

#last {
    border-right: 3px groove white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right:0px;
}

li:hover {
    background-color: #520458;
    color:white;
}
a:link {
    text-decoration: none;  
    color:white;
    font-family: Arial, Verdana, sans-serif;
}
a:visited {
    color: white;
}
#image {
     width: 800px;
     height:800px;
     background-color: #c7c6c6;
     margin: 0px auto 0px auto;
     text-align: center;
}*/
 /*p {
    background-color: #c7c6c6;
    margin: 100px auto 100px auto;
    text-align: center;
    width: 640px;
    height:inherit;
    height:inherit;
}*/ 
/*#image form {
    
    width:800px;
    height:800px
    
    /*display: inline-block;*/
/*}
#image input{
    width:400px;
    height:400px;
    margin: 200px 100px 200px 100px;
}
#blackfoot {
    width: inherit;
    height:150px;
    background-color: black;
    color: white;
    font-family: Arial, Verdana, sans-serif;
    
}

@media only screen and (max-width: 768px){

    body {
    background-color: white;
}
#wrapper {
    
    max-width: 640px;
    max-height: 480px;
    background-color:aliceblue;
    margin: 2px auto 20px auto ;
}
#header  {
    background-color: #232323; 
    text-align:center;
    padding: 20px;
    
}

nav {
    margin:0px;
    padding:0px;
}

li {
    background-color: #42a8f1;
    list-style-type: none;
    display: flex;*/
    /*border-bottom: 3px solid white;
    border-top: 3px solid white;*/ 
    /*border: 1px solid #414141;    
    padding: 100px;*/
    /*margin-right: -2.5px;
    margin-left: -2.5px;*/
    
    

}
/*#first {
    border-left: 3px groove white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#last {
    border-right: 3px groove white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}*/

/*li:hover {
    background-color: #520458;
    color:white;
}
a:link {
    text-decoration: none;  
    color:white;
    font-family: fantasy, sans-serif;
}
a:visited {
    color: white;
}
#image {
     width: 400px;
     height:400px;
     background-color: #c7c6c6;
     margin: 0px auto 0px auto;
     text-align: center;
}*/
 /*p {
    background-color: #c7c6c6;
    margin: 100px auto 100px auto;
    text-align: center;
    width: 640px;
    height:inherit;
    height:inherit;
}*/ 
#image form {
    
    width:200px;
    height:200px
    
    /*display: inline-block;*/
}
/*#image input{
    width:200px;
    height:200px;
    margin: 100px 50px 100px 50px;
}
#blackfoot {
    width: inherit;
    height:150px;
    background-color: black;
    color: white;
    font-family: Arial, Verdana, sans-serif;
    
}
}

@media only screen and (max-width: 480px){

    body {
    background-color: white;
}
#wrapper {
    
    max-width: 480px;
    max-height: 360px;
    background-color:aliceblue;
    margin: 2px auto 20px auto ;
}
#header  {
    background-color: black; 
    text-align:center;
    padding: 10px;
    
}

nav {
    margin-left: auto;
    margin-right:40px;
}

li {
    display:none;
    background-color: #42a8f1;
    list-style-type: none;
    display: inline-flex;   
    border-bottom: 3px solid white;
    border-top: 3px solid white; 
    border: 1px solid white;    
    padding: 100px;
    margin-right: -2.5px;
    margin-left: -2.5px;
    
    

}
#first {
    border-left: 3px groove white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#last {
    border-right: 3px groove white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

li:hover {
    background-color: #520458;
    color:white;
}
a:link {
    text-decoration: none;  
    color:white;
    font-family: Arial, Verdana, sans-serif;
}
a:visited {
    color: white;
}
#image {
     width: 300px;
     height:300px;
     background-color: #c7c6c6;
     margin: 0px auto 0px auto;
     text-align: center;
}*/
 /*p {
    background-color: #c7c6c6;
    margin: 100px auto 100px auto;
    text-align: center;
    width: 640px;
    height:inherit;
    height:inherit;
}*/ 
/*#image form {
    
    width:150px;
    height:150px*/
    
    /*display: inline-block;*/
}
/*#image input{
    width:150px;
    height:150px;
    margin: 100px 50px 100px 50px;
}
#blackfoot {
    width: inherit;
    height:100px;
    background-color: black;
    color: white;
    font-family: Arial, Verdana, sans-serif;
    
}
}*/
