/*test css selector parent/child*/
body {
    background-color:azure;
}
#wrapper{
    background-color:#808080;
    margin: 10px 50px 0px 50px;

}

header, footer{
    background-color:#000;
    margin:5px inherit 5px inherit;
    overflow:auto;
    color:white;
    
}
header h3{
    margin-left:75px;
    font:600;
}
header nav ul{
    
    list-style-type: none;
    
    

}
header li,input{
    margin: -15px 0 auto 5px;
    display:inline-block;
    background-color:#424242;
    color:white;
    border: 2px solid white;
    padding:7px;
    width:5%;
}
header input{
    display:inline;

}
#logo{
    width:100px;
    height:100px;
    
}
article fieldset{
    width:240px;
    display:inline-block;
}
article img{
    width:240px;
}
